.mainContainer{
    position: absolute;
    top: 5vh;
    left: 10vw;
    display: flex;
    width: 80vw;
    height: 90vh;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left{
    position: relative;
    height: 70%;
    width: 50%;
}
.right{
    position: relative;
    height: 70%;
    width: 50%;
}
.circle{
    position: relative;
    top: 6vh;
    left: 16vw;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.greeting{
    position: relative;
    top: 6vh;
    left: 16.5vw;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    top: 6vh;
    left: 6vw;
    text-align: center;
    
}
.form{
    
    padding: 10px;
    border-radius: 20px;
    min-height: 80%;
    position: relative;
    top: 10vh;
    left: 4vw;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
